<nav class="nav nav-pills nav-fill">
  <a
    class="nav-item nav-link"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a class="nav-item nav-link" routerLink="product" routerLinkActive="active"
    >Product</a
  >
  <a class="nav-item nav-link" routerLink="cart" routerLinkActive="active"
    >Cart</a
  >
  <a
    class="nav-item nav-link disabled"
    routerLink="admin"
    routerLinkActive="active"
    >Admin</a
  >
</nav>
<hr />
<router-outlet></router-outlet>
